<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <center>
            <h1>Login Page</h1>
            <form method="POST">
    <br><br>
            <input type="name" name="email" placeholder="Email">
            <br>
            <input type="name" name="username" placeholder="Username">
            <br>
            <input type="password" name="password" Placeholder="Password" value="Doe">
            <br>
            <input type="submit" name="Submit">
     </form>
        </center>
    </body>
</html>